:root {
	--random-x: 100px;
	--random-y: 200px;
  --top: 0;
}
.butterfly-body {
	width: 4px;
	height: 25px;
	border-radius: 10px;
	background-color: black;
}
.butterfly-body:before {
	position: absolute;
	top: -5px;
	left: -1px;
	width: 1px;
	height: 6px;
	background-color: black;
	transform: rotate(-25deg);
	content: '';
}
.butterfly-body:after {
	position: absolute;
	top: -5px;
	left: 4px;
	width: 1px;
	height: 6px;
	background-color: black;
	transform: rotate(25deg);
	content: '';
}
.butterfly {
	position: absolute;
	top: var(--top);
	left: 0px;
	transform: translate(var(--random-x), var(--random-y));
	transition: transform 2s linear;
	z-index: 100;
}
.butterfly-wing-1 {
	transform: rotateY(60deg);
	animation: Wing1 0.5s infinite;
}
.butterfly-wing-1:before {
	position: absolute;
	top: -9px;
	left: 5px;
	display: block;
	width: 28px;
	height: 20px;
	transform: rotateX(0deg);
	border-radius: 25px 5px;
	background-color: #ec524b;
	content: '';
}
.butterfly-wing-1:after {
	position: absolute;
	top: 12px;
	left: 5px;
	display: block;
	width: 28px;
	height: 20px;
	transform: rotateX(-170deg);
	border-radius: 20px 5px;
	background-color: #ec524b;
	content: '';
}
.butterfly-wing-2 {
	position: relative;
	top: -1px;
	transform: rotate(180deg) rotateY(60deg);
	animation: Wing2 0.5s infinite;
}
.butterfly-wing-2:before {
	position: absolute;
	top: -9px;
	left: 5px;
	display: block;
	width: 28px;
	height: 20px;
	transform: rotateX(0deg);
	border-radius: 20px 5px;
	background-color: #ec524b;
	content: '';
}
.butterfly-wing-2:after {
	position: absolute;
	top: 12px;
	left: 5px;
	display: block;
	width: 28px;
	height: 20px;
	transform: rotateX(-170deg);
	border-radius: 25px 5px;
	background-color: #ec524b;
	content: '';
}
@keyframes Wing1 {
	0% {
		transform: rotateY(60deg);
	}
	50% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(60deg);
	}
}
@keyframes Wing2 {
	0% {
		transform: rotate(180deg) rotateY(60deg);
	}
	50% {
		transform: rotate(180deg) rotateY(0deg);
	}
	100% {
		transform: rotate(180deg) rotateY(60deg);
	}
}
@keyframes Body {
	0% {
		transform: translate(33, 79);
	}
	20% {
		transform: translate(85, 197);
	}
	40% {
		transform: translate(113, 33);
	}
	60% {
		transform: translate(124, 182);
	}
	80% {
		transform: translate(18, 68);
	}
	100% {
		transform: translate(87, 94);
	}
}
