body {
  font-family: 'Raleway', sans-serif;
	background: linear-gradient(170deg, #a6d8c4, #f3eac2,#f5b461,#9ad3bc, #f3eac2,#f5b461);
	/* background: linear-gradient(170deg, #fff5c0, #ffb396,#ff8585); */
	color: #474747;
	overflow-x: hidden;
	padding-top: 20px;
	padding-bottom: 50px;
}