body {
	font: normal 10.6666666667px 'Titillium Web', sans-serif;
	background: linear-gradient(170deg, #99bbad, #ebd8b7);
	color: #3c3f64;
	overflow-x: hidden;
	padding-top: 20px;
	padding-bottom: 50px;
}